html {
    /* Setting a base font size of 10px give us easier rem calculations
         Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
       */
    font-size: 10px;
  }
  
  body {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
      font-size: 1.6rem;
      line-height: 1.5;
      text-align: center;
      color: #333;
      margin: 0;
   
  }
  
  a:visited {
      color: #74638f;
  }
  
  
  #main { 
    margin: 30px 8px;
      padding: 15px;
      border-radius: 5px;
      background: #eee;
  }
  
  
  img { 
    max-width: 100%;
    display: block; 
    height: auto;
    margin: 0 auto;
  }
  
  
  #img-div { 
  background: white;
      padding: 10px;
      margin: 0;
  }
  
  #img-caption{ 
     margin: 15px 0 5px 0;
    
  }
  @media (max-width: 460px) {
    #img-caption {
      font-size: 1.4rem;
    }
  }
  
  ul {
      max-width: 950px;
      margin: 0 auto 50px auto;
      text-align: left;
      line-height: 1.6;
  }
  
  li {
    margin: 16px 0;
  }